.container {
    max-width: 1920px;
    margin: 0 auto;
    &_intro {
        max-width: 1111px;
        margin: 0 auto;
        position: relative;
    }
}

.img {
    position: absolute;
    margin-top: 500px;
}

.img1 {
    position: absolute;
    margin-left: 915px;
    margin-top: 1890px;
}